---
import { Icon } from 'astro-icon/components';
---

<label aria-label="Toggle">
    <input class="toggle" type="checkbox" />
    <span class="toggle-thumb">
        <Icon name="moon" size={16} />
        <Icon name="sun" size={16} />
    </span>
</label>

<style>
    label {
        --padding: 3px;

        display: inline-block;
        position: relative;
        width: 50px;
        height: 24px;
        padding: var(--padding);
        cursor: pointer;

        & input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        & .toggle-thumb {
            --toggle-gap: 8px;

            position: absolute;
            inset: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: var(--toggle-gap);
            background-color: var(--bg-toggle-thumb);
            border-radius: var(--radius);
            overflow: hidden;
            transition: var(--transition-bg);

            &::before {
                --size: 20px;

                content: '';
                position: absolute;
                top: 50%;
                left: calc(var(--toggle-gap) / 2);
                width: var(--size);
                height: var(--size);
                border-radius: 50%;
                background-color: var(--text-color);
                transform: translateY(-50%);
                transition:
                    translate 300ms ease,
                    var(--transition-bg);
                z-index: 1;
            }

            &.active::before {
                --offset: calc(var(--padding) / 2);
                translate: calc(var(--size) + var(--toggle-gap)) 0;
            }

            & svg {
                position: relative;
                z-index: 0;

                &:nth-child(odd) {
                    translate: calc(var(--toggle-gap) / 2);
                }

                &:nth-child(even) {
                    translate: calc((var(--toggle-gap) / 2) * -1);
                }
            }
        }
    }
</style>
